@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --primary-color: #007af3;
}

body {
  background: white;
  margin: 0;
  font-family: "Open Sans";
}

.navbar {
  background: white;
  padding: 1em;

  .logo {
    text-decoration: None;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
